@{
    ViewBag.Title = "Contact";
}
<h2>Realtor.com</h2>
<div class = "main-info-describe">
    <p>
        Realtor.com Новосибирск – это федеральный ресурс, созданный для продажи недвижимости в Новосибирске. На Realtor.com вы сможете найти множество предложений о продаже недвижимости, от квартир в жилых домах и новостройках до коттеджей и домов в Новосибирске и Новосибирской области. Гибкие настройки фильтрации объявлений помогут вам подобрать наиболее подходящий для вас объект недвижимости. Выбрать же объект по местоположению в Новосибирске стало ещё удобнее с новым поиском по карте – достаточно только выделить нужную вам область на карте, и вы получите все объявления в рамках выделения. На сайте Realtor.com представлены варианты как от агентств недвижимости Новосибирска, так и частные объявления о продаже жилья без посредников.
    </p>
</div>