@model DomainShop.Property

@{
    ViewBag.Title = "Detail";
}

@Scripts.Render("~/Scripts/lightview.js")
@Styles.Render("~/Content/lightview.css")

<h2>Detail</h2>

<div class="detail-main-info">
    <a href="~/Content/Images/1.jpg"
       class="lightview"
       data-lightview-group="mixed">
        <img src="../../Content/Images/1.jpg" />
    </a>

    <a href="~/Content/Images/2.jpg"
       class="lightview"
       data-lightview-group="mixed">Image 2</a>
</div>