@{
    ViewBag.Title = "Home Page";
}
<div class="home-block1">
    <div class="block1-main-info">
        <div class="home-block1-text">
            <p> Discover Your Perfect Home </p>
        </div>
        <div class="block1-search-block">
            @Html.TextBox("searcher",
            null,
             new { data_autocomplete = @Url.Content("/site/search/") })
        @<script type="text/javascript"
            src="@Url.Content("/scripts/search.mvc.helpers.js")">
        </script>
        </div>
    </div>
</div>
