@{
    ViewBag.Title = "Home Page";
}
<div class="home-block1">
    <div class="block1-main-info">
        <div class="home-block1-text">
            <p> Discover Your Perfect Home </p>
        </div>
        <div class="block1-search-block">
            @using (Html.BeginForm("Search", "Home"))
            {
                <input type="text" name="city"/>
                <input type="submit"/>
            }
        </div>
    </div>
</div>
