a {
    text-decoration: none;
}

header {
    background-color: white;
    color: black;
    min-height: 50px;
    margin: 0;
    padding-top: 15px;
    border: 1px solid transparent;
    font-family: "helvetica", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    margin: auto;
    padding: 0;
}

    footer p {
        margin: 0;
        padding: 0;
        float: right;
    }

header a {
    color: black;
}

    header a:hover {
        color: red;
    }

header li :hover {
    border-bottom: 3px solid red;
}

.navbar-list {
    list-style: none;
    float: left;
    margin: 0;
}

.navbar-right-list {
    list-style: none;
    float: right;
}

.navbar-list li {
    display: inline;
}

    .navbar-list li a {
        padding: 10px;
    }

.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 0;
}

.navbar-header {
}

.home-block1 {
    background: url(Images/1.bmp) no-repeat center center;
    background-size: 100% 100%;
    width: auto;
    height: 1000px;
    z-index: -1;
}

.home-block1-text {
    font-size: 48px;
    color: aliceblue;
}

.rights-text {
    font-family: sans-serif;
    padding-bottom: 15px;
    margin: 15px;
}

.block1-main-info {
    position: absolute;
    left: 35%;
    top: 35%;
    z-index: 1000;
}

.home-block1-search {
    width: 32em;
    height: 3em;
    font-family: sans-serif;
    font-size: 1em;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

.block1-search-block {
    display: inline;
}

.block1-search-button {
    width: 4em;
    height: 3em;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: sans-serif;
}

#wrapper {
    max-width: 1650px;
    margin: auto;
}

.search-filters {
    background-color: red;
    font-family: Effra-Regular,sans-serif;
    color: #53535F;
    margin-bottom: 50px; 
}

.search-filters-form * {
    display: inline-block;
}

.search-filters-input {
    padding: 10px;
    padding-right: 30px;
}

    .search-filters-input input {
        width: 100%;
        padding: 5px;
        border-radius: 3px;
        font-size: 20px;
        border-width: 0;
        padding: 10px;
    }

.price-filter-bar {
    padding: 10px;
    border-right: #A60000;
    border-right-style: solid;
    border-right-width: 1px;
    font-size: 20px;
}


    .price-filter-bar select option {
        display: block;
        font-size: 15px;
        padding: 5px;
    }

.price-filter-bar-type {
    padding: 10px;
}

.price-filter-bar p {
    padding-left: 10px;
    padding-right: 10px;
}

.search-results{
    max-width: 1650px;
    margin: auto;
}

.property-desc-block {
    margin-bottom: 50px;
}

.property-desc-block-image {
    color: #fff;
    height: 176px;
}

    .property-desc-block-image img {
        height: 100%;
        width: 100%;
    }

.property-desc-block-description-props {
    display: inline-block;
    padding: 7px;
    padding-bottom: 0;
    font-family: Effra-Regular, sans-serif;
    background-color: white;
    box-shadow: 0 3px 3px #575555 inset;
    float: left;
    width: 20%;
    height: 100%;
}

    .property-desc-block-description-props p {
        margin: 4px;
        font-family: Effra-Regular, sans-serif;
    }

.property-desc-block-description {
    display: inline-block;
    padding: 7px;
    padding-bottom: 0;
    font-family: Effra-Regular, sans-serif;
    background-color: white;
    box-shadow: 0 3px 3px #575555 inset;
    height: 200px;
    width: 49%;
    white-space: pre-line;
}

.property-desc-block-price {
    padding-left: 10px;
    font-family: Effra-Regular, sans-serif;
}

#wrapper {
    max-width: 1650px;
    margin: auto;
}
